@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
    font-family: 'Poppins', sans-serif;
}
:root {
	--roxo: #7400b8;
	--roxo-medio: #6930c3;
	--lilas: #5e60ce;
	--background: #5390d9;
	--background-1: #48bfe3;
	--verde-agua: #64dfdf;
	--verde-light: #80ffdb;
	--amarelo: #ffc107;
}